h2 {
  font-family: 'Julius Sans One', sans-serif;
  font-size: 25px;
  text-align:center;
}
body {
  background: #FBF9FF;
  font-family: 'Quicksand', sans-serif;
  font-size: 13.5px;
}

p {
  background-color: rgba(219, 204, 242, 0.4);
  border-radius: 10px;
  padding:10px;
  line-height: 1.5; 
}

input {
  width: 50px;
  border: 0;
  border-radius: 5px;
  background-color: #eee
}

.datosGrafo {
  background-color: #C4CFE5;
  display: inline-block;
  text-align: center;
  margin-top: 0;
  line-height: 2.09; 
  width: 350px;
}

.datosGrafo2 {
  background-color:  rgba(196, 207, 229, 0.8);
  display: inline-block;
  padding-bottom: 0.5px;
  padding-top: 2.74px;
  padding-right: 10px;
  padding-left: 10px;
  line-height: 2; 
  width: 180px;
}

#myCanvas {
  margin-top: 20px;
  margin-bottom: 20px;
}
/*
button{
  font-family: 'Quicksand', sans-serif;
  border: 1px white solid;
  background-color: #CCC7D3;
  border-radius: 8px;
  color: white;
}
*/

#tipoGrafo {
  font-family: 'Quicksand', sans-serif;
  font-size: 12px;
  background: none;
}

#rellenaCanvas {
  margin: 5px;
}

.seleccionMetodos {
  font-family: 'Quicksand', sans-serif;
  border-radius: 6px;
}

.terminal {
  font-family: 'Oxanium', cursive;
  margin-top: 15px;
  padding: 8px;
  border: 3px #CCC7D3 solid;
  background-color: #05020A;
  opacity: 0.9;
  color: white;
}

.terminal input {
  font-family: 'Oxanium', cursive;
  color: white;
  outline: none;
  background: none;
  width: 500px;
}